<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{user.fullname}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Admin<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                	<img alt="ATLAS" src="img/atlas.png" height="75">
                </div>
            </li>
            
             <li ui-sref-active="active">
                <a ui-sref="index.dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'DASHBOARD' | translate }}</span> </a>
            </li>
            <li ng-class="{active: $state.includes('system')}">
                <a ui-sref="main"><i class="fa fa-globe"></i> <span class="nav-label">{{ 'SYSTEM' | translate }} </span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('system')}">
                    <li ui-sref-active="active"><a ui-sref="system.network">{{ 'NETWORK' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="system.emulator">{{ 'EMULATOR' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="system.emulator">{{ 'CONFIGURATIONS' | translate }}</a></li> <!-- TO DO in config.js -->
                </ul>
            </li>
            <li ng-class="{active: ($state.includes('aalhouses') || $state.includes('gateways') || $state.includes('sensors'))}">
                <a ui-sref="main"><i class="fa fa-home"></i> <span class="nav-label">{{ 'HOUSES' | translate }} </span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('list')}">
                	<li ui-sref-active="active"><a ui-sref="aalhouses.list">{{ 'AAL_HOUSES' | translate }}</a></li>
                	<li ui-sref-active="active"><a ui-sref="gateways.list">{{ 'GATEWAYS' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="sensors.list">{{ 'SENSORS' | translate }}</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('applications')}">
                <a><i class="fa fa-desktop"></i> <span class="nav-label">{{ 'APPLICATIONS' | translate }} </span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('applications')}">
                    <li ui-sref-active="active"><a ui-sref="applications.indoor">{{ 'INDOOR' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="applications.localization">{{ 'RELATIVE_LOCALIZATION' | translate }}</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>