<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row bottom5">
    	<div class="col-lg-12">
    		<button ui-sref="sensors.add" type="button" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> {{ 'NEW_SENSOR' | translate }}</button>
    	</div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                <h5> <i class="fa fa-rss"></i> {{ 'SENSORS' | translate }}</h5>
	                <div ibox-tools="" class="ng-scope">
	                	<div class="ibox-tools dropdown" uib-dropdown="">
					    	<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
					    	<a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					    	<ul uib-dropdown-menu="" class="dropdown-menu">
					        	<li><a href="">Config option 1</a> </li>
					        	<li><a href="">Config option 2</a></li>
					    	</ul>
						</div>
					</div>
				</div>
	            <div class="ibox-content">
	                <table class="table table-hover">
	                    <thead>
		                    <tr>
		                        <th>#</th>
		                        <th>{{ 'NAME' | translate }}</th>
		                        <th>{{ 'MAC_ADDRESS' | translate }}</th>

					<!-- gateway identity field - NEW**-->
					<!-- <th>{{ 'GATEWAY_IDENTITY' | translate }}</th> -->

					<!-- battery field - NEW**-->
					<th>{{ 'BATTERY' | translate }} (%)</th>
    
                                        <!-- last updated field - NEW**-->
					<th>{{ 'LAST_PING' | translate }}</th>

		                        <th>{{ 'STATUS' | translate }}</th>

		                        <th>{{ 'ACTIONS' | translate }}</th>
		                    </tr>
	                    </thead>
	                    <tbody>
	                    	<tr ng-show="!snCtrl.sensors.length"> <td colspan="5">{{ 'NO_SENSORS_FOUND' | translate }}</td> </tr>
	                    	<tr ng-repeat="sensor in snCtrl.sensors" data-transaction="{{sensor.id}}">
	                    		<td>{{sensor.id}}</td>
	                    		<td>{{sensor.attributes.name}}</td>
	                    		<td>{{sensor.attributes.address}}</td>

					<!-- gateway identity field - NEW**-->
					<!-- <td>{{sensor.attributes.gatewayIdentity}}</td> -->
					<!-- battery field - NEW**-->
					<td>{{sensor.attributes.battery}}</td>
					<!-- last updated field NEW**-->
					<td>{{sensor.attributes.lastPing | date:'dd/MM/yyyy'}}</td>
	                    		<td>
	                    			<span ng-class="(sensor.attributes.status=='ENABLED') ? 'label-primary' : 'label-danger'" class="label">{{sensor.attributes.status | capitalize}}</span>
	                    		</td>


	                    		<td>
	                    			<div class="btn-group dropdown" uib-dropdown="">
					                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
					                        {{ 'ACTIONS' | translate }} <span class="caret"></span>
					                    </button>
					                    <ul role="menu" uib-dropdown-menu="" class="dropdown-menu">
					                        <li><a ui-sref="sensors.edit({ sensorId: sensor.id })"> <i class="fa fa-edit"></i> {{ 'EDIT' | translate }}</a></li>
					                        <li ng-if="(sensor.attributes.status=='ENABLED')"><a href="javascript:;" ng-click="disableSensor(sensor.id)"> <i class="fa fa-trash"></i> {{ 'DISABLE' | translate }}</a></li>
					                        <li ng-if="(sensor.attributes.status!='ENABLED')"><a href="javascript:;" ng-click="enableSensor(sensor.id)"> <i class="fa fa-check"></i> {{ 'ENABLE' | translate }}</a></li>
					                    </ul>
					                </div>
	                    		</td>
		                    </tr>
	                    </tbody>
	                </table>
				</div>
			</div>
        </div>
    </div>
</div>
