<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-rss"></i> {{ 'EDIT_SENSOR' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" name="sensors_form" novalidate ng-submit="updateSensor()">
                        <uib-tabset>
                    		<uib-tab heading="{{ 'SENSOR_INFORMATION' | translate }}">
                    			<div class="panel-body">
                    				<div class="form-group" ng-class="(sensors_form.name.$invalid && sensors_form.$submitted) ? 'has-error' : ''">
			                        	<label class="col-sm-2 control-label">{{ 'SENSOR_IDENTIFIER' | translate }}</label>
			                            <div class="col-sm-10">
			                            	<input type="text" class="form-control" name="name" ng-model="sensor.name" ng-minlength="2" required>
			                            	<span class="help-block m-b-none" ng-show="sensors_form.name.$invalid && sensors_form.$submitted">
			                            		{{ 'SENSOR_NAME_REQUIRED' | translate }}
			                            	</span>
			                            </div>
			                        </div>
			                        <div class="hr-line-dashed"></div>
			                        <div class="form-group" ng-class="(sensors_form.address.$invalid && sensors_form.$submitted) ? 'has-error' : ''">
			                        	<label class="col-sm-2 control-label">{{ 'SENSOR_ADDRESS' | translate }}</label>
			                            <div class="col-sm-10">
			                            	<input type="text" class="form-control" name="address" ng-model="sensor.address" ng-minlength="2" required>
			                            	<span class="help-block m-b-none" ng-show="sensors_form.address.$invalid && sensors_form.$submitted">
			                            		{{ 'SENSOR_ADDRESS_REQUIRED' | translate }}
			                            	</span>
			                            </div>
			                        </div>
			                        <div class="hr-line-dashed"></div>
			                        <div class="form-group" ng-class="(sensors_form.manufacturer.$invalid && sensors_form.$submitted) ? 'has-error' : ''">
			                        	<label class="col-sm-2 control-label">{{ 'SENSOR_MANUFACTURER' | translate }}</label>
			                            <div class="col-sm-10">
			                            	<select class="form-control m-b" name="manufacturer" ng-model="sensor.manufacturer" required>
			                            		<option ng-repeat="manufacturer in manufacturers" value="{{manufacturer.id}}">{{manufacturer.attributes.name}}</option>
			                            	</select>
			                            	<span class="help-block m-b-none" ng-show="sensors_form.manufacturer.$invalid && sensors_form.$submitted">
			                            		{{ 'SENSOR_MANUFACTURER_REQUIRED' | translate }}
			                            	</span>
			                            </div>
			                        </div>
			                        <div class="hr-line-dashed"></div>
			                        <div class="form-group" ng-class="(sensors_form.connection.$invalid && sensors_form.$submitted) ? 'has-error' : ''">
									    <label class="col-sm-2 control-label">{{ 'SENSOR_CONNECTION' | translate }}</label>
									    <div class="col-sm-10">
									        <select class="form-control m-b" name="connection" ng-model="sensor.connection" required>
									            <option value="">{{ 'SELECT_SENSOR_CONNECTION' | translate }}</option>
									            <option value="CC2420">{{ 'CC2420' | translate }}</option>
									            <option value="ZIGBEE">{{ 'ZIGBEE' | translate }}</option>
									            <option value="BLUETOOTH">{{ 'BLUETOOTH' | translate }}</option>
									            <option value="BLE">{{ 'BLE' | translate }}</option>
									            <option value="ZWAVE">{{ 'ZWAVE' | translate }}</option>
									            <option value="LORAWAN">{{ 'LORAWAN' | translate }}</option>
									            <option value="WIFI">{{ 'WIFI' | translate }}</option>
									        </select>
									        <span class="help-block m-b-none" ng-show="sensors_form.connection.$invalid && sensors_form.$submitted">
			                            		{{ 'SENSOR_CONNECTION_REQUIRED' | translate }}
			                            	</span>
									    </div>
									</div>
			                        <div class="hr-line-dashed"></div>
			                        <div class="form-group">
			                        	<div class="col-sm-11 col-sm-offset-1">
			                        		<div class="checkbox checkbox-success">
												<input id="connectable" name="connectable" ng-model="sensor.connectable" type="checkbox">
												<label for="connectable">{{ 'SENSOR_CONNECTABLE' | translate }}</label>
											</div>
										</div>
			                        </div>
			                        <div class="hr-line-dashed"></div>
                    			</div>
                    		</uib-tab>
                    		<uib-tab heading="{{ 'SENSOR_DATATYPES' | translate }}">
                    			<div class="panel-body">
                    				<div ng-repeat="datatype in listDatatypes" data-datatype="{{datatype.id}}">
                    					<div class="checkbox checkbox-success">
		                                    <input id="datatype_id_{{datatype.id}}" name="datatypes[]" value="{{datatype.id}}" type="checkbox" ng-model="datatype.enabled" ng-checked="datatype.enabled">
		                                    <label for="datatype_id_{{datatype.id}}">
		                                        {{datatype.datatype}}
		                                    </label>
	                                	</div>
	                                	<div class="hr-line-dashed"></div>
                    				</div>
                    			</div>
                    		</uib-tab>
                    	</uib-tabset>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" ui-sref="sensors.list">{{ 'CANCEL' | translate }}</button>
                                <button class="btn btn-primary" type="submit">{{ 'SAVE' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>