<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-home"></i> {{ 'ADD_NEW_HOUSE' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" name="aalhouses_form" novalidate ng-submit="submitHouse()">
                        <div class="form-group" ng-class="(aalhouses_form.name.$invalid && aalhouses_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'HOUSE_NAME' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="name" ng-model="aalhouse.name" ng-minlength="2" required>
                            	<span class="help-block m-b-none" ng-show="aalhouses_form.name.$invalid && aalhouses_form.$submitted">
                            		{{ 'HOUSE_NAME_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="(aalhouses_form.address.$invalid && aalhouses_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'HOUSE_ADDRESS' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="address" ng-model="aalhouse.address" ng-minlength="2" required>
                            	<span class="help-block m-b-none" ng-show="aalhouses_form.address.$invalid && aalhouses_form.$submitted">
                            		{{ 'HOUSE_ADDRESS_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="(aalhouses_form.square_meters.$invalid && aalhouses_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'HOUSE_SQUARE_METERS' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="square_meters" ng-model="aalhouse.square_meters" required>
                            	<span class="help-block m-b-none" ng-show="aalhouses_form.square_meters.$invalid && aalhouses_form.$submitted">
                            		{{ 'HOUSE_SQUARE_METERS_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="(aalhouses_form.total_rooms.$invalid && aalhouses_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'HOUSE_TOTAL_ROOMS' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="total_rooms" ng-model="aalhouse.total_rooms" required>
                            	<span class="help-block m-b-none" ng-show="aalhouses_form.total_rooms.$invalid && aalhouses_form.$submitted">
                            		{{ 'HOUSE_TOTAL_ROOMS_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" ui-sref="aalhouses.list">{{ 'CANCEL' | translate }}</button>
                                <button class="btn btn-primary" type="submit">{{ 'SAVE' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>