<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row bottom5">
    	<div class="col-lg-12">
    		<button ui-sref="aalhouses.add" type="button" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> {{ 'NEW_HOUSE' | translate }}</button>
    	</div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                <h5> <i class="fa fa-home"></i> {{ 'AMBIENT_ASSISTED_LIVING_HOUSES' | translate }}</h5>
	                <div ibox-tools="" class="ng-scope">
	                	<div class="ibox-tools dropdown" uib-dropdown="">
					    	<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
					    	<a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					    	<ul uib-dropdown-menu="" class="dropdown-menu">
					        	<li><a href="">Config option 1</a> </li>
					        	<li><a href="">Config option 2</a></li>
					    	</ul>
						</div>
					</div>
				</div>
	            <div class="ibox-content">
	                <table class="table table-hover">
	                    <thead>
		                    <tr>
		                        <th>#</th>
		                        <th>{{ 'NAME' | translate }}</th>
		                        <th>{{ 'ADDRESS' | translate }}</th>
		                        <th>{{ 'SQUARE_METERS' | translate }}</th>
		                        <th>{{ 'TOTAL_ROOMS' | translate }}</th>
		                        <th>{{ 'STATUS' | translate }}</th>
		                        <th>{{ 'ACTIONS' | translate }}</th>
		                    </tr>
	                    </thead>
	                    <tbody>
	                    	<tr ng-show="!aalCtrl.houses.length"> <td colspan="7">{{ 'NO_HOUSES_FOUND' | translate }}</td> </tr>
	                    	<tr ng-repeat="house in aalCtrl.houses" data-transaction="{{house.id}}">
	                    		<td>{{house.id}}</td>
	                    		<td>{{house.attributes.name}}</td>
	                    		<td>{{house.attributes.address}}</td>
	                    		<td>{{house.attributes.square_meters}}</td>
	                    		<td>{{house.attributes.total_rooms}}</td>
	                    		<td>
	                    			<span ng-class="(house.attributes.status=='ENABLED') ? 'label-primary' : 'label-danger'" class="label">{{house.attributes.status | capitalize}}</span>
	                    		</td>
	                    		<td>
	                    			<div class="btn-group dropdown" uib-dropdown="">
					                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
					                        {{ 'ACTIONS' | translate }} <span class="caret"></span>
					                    </button>
					                    <ul role="menu" uib-dropdown-menu="" class="dropdown-menu">
					                        <li><a ui-sref="aalhouses.edit({ aalhousesId: house.id })"> <i class="fa fa-edit"></i> {{ 'EDIT' | translate }}</a></li>
					                        <li ng-if="(house.attributes.status=='ENABLED')"><a href="javascript:;" ng-click="disableHouse(house.id)"> <i class="fa fa-trash"></i> {{ 'DISABLE' | translate }}</a></li>
					                        <li ng-if="(house.attributes.status!='ENABLED')"><a href="javascript:;" ng-click="enableHouse(house.id)"> <i class="fa fa-check"></i> {{ 'ENABLE' | translate }}</a></li>
					                    </ul>
					                </div>
	                    		</td>
		                    </tr>
	                    </tbody>
	                </table>	
				</div>
			</div>
        </div>
    </div>
</div>