<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
        </div>
    </div>
</div>
<script type='text/javascript'>
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "js/unity/Desktop.data",
    codeUrl: "js/unity/Desktop.js",
    memUrl: "js/unity/Desktop.mem",
    
  };
</script>
<script src="js/unity/UnityLoader.js"></script>