<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-xs-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal">	
						<div class="form-group">
							<label class="col-xs-4 col-sm-2 control-label">{{ 'AAL_HOUSE' | translate }}</label>
							<div class="col-xs-8 col-sm-4" >
	                            <select class="form-control m-b" name="aal_house" ng-model="localization.house">
	                                <option value="" selected>{{ 'SELECT_HOUSE' | translate }}</option>
	                                <option ng-repeat="aalhouse in houses" value="{{aalhouse.id}}">{{aalhouse.attributes.name}}</option>
	                            </select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-4 col-sm-2 control-label">{{ 'OBJECT' | translate }}</label>
							<div class="col-xs-8 col-sm-4">
								<input class="form-control" type="text" ng-model="localization.object">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<button class="btn btn-primary" ng-click="findRelativeObjects()"> <i class="fa fa-refresh"></i> {{ 'SEARCH' | translate }}</button>
							</div>
						</div>
					</form>
				</div>
    		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
            <div class="ibox float-e-margins">
            	<div class="ibox-content" id="ibox-content">
            		<div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
            			<p ng-show="!observations.length"> {{ 'SELECT_HOUSE_OBJECT' | translate }} </p>
                        <div class="vertical-timeline-block" ng-repeat="observ in observations">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-location-arrow"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <h2> Your {{localization.object}} was on {{observ.attributes.location}}</h2>
								<span class="vertical-date">
									{{ observ.attributes.createdAt | date:'dd/MM/yyyy' }} <br/>
									{{ observ.attributes.createdAt | date:'HH:mm:ss' }}
								</span>
                            </div>
                        </div>
					</div>					
            	</div>
            </div>
        </div>
	</div>
</div>