<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-4 col-md-offset-1 text-center">
            <h2 class="font-bold">Welcome to ATLAS</h2>
            <p class="logo-paragraph">
            	<img alt="ATLAS Platform" src="img/atlas.png">
            </p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
            	<form role="form" name="login_form" novalidate ng-submit="doLogin()">
					<div class="form-group">
						<label class="sr-only" for="user_email">{{ 'EMAIL' |  translate }}</label> 
			    		<input type="email" name="user_email" ng-model="login.email" id="user_email" class="form-control" placeholder="{{ 'EMAIL' |  translate }}" required>
			    		<div class="error-block" ng-show="login_form.user_email.$invalid && login_form.$submitted">
			          <small class="text-danger" ng-show="login_form.user_email.$error.required">{{ 'EMAIL_REQUIRED' |  translate }}</small>
			          <small class="text-danger" ng-show="login_form.user_email.$error.email">{{ 'INVALID_EMAIL' |  translate }}</small>
			        </div>
			  		</div>
			  		<div class="form-group">
						<label class="sr-only" for="user_password">{{ 'PASSWORD' |  translate }}</label>
			    		<input type="password" name="user_password" ng-model="login.password" id="user_password" class="form-control" placeholder="{{ 'PASSWORD' |  translate }}" required>
			    		<div class="error-block" ng-show="login_form.user_password.$invalid && login_form.$submitted">
			          <small class="text-danger" ng-show="login_form.user_password.$error.required">{{ 'PASSWORD_REQUIRED' |  translate }}</small>
			        </div>
			  		</div>
			  		<button type="submit" class="btn btn-primary block full-width m-b">{{ 'LOGIN' |  translate }}</button>
				</form>
                <!-- <form class="m-t" role="form" action="index.html">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Username" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                </form>-->
                <p class="m-t text-center">
                    <small>ATLAS IoT Platform &copy; 2016</small>
                </p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            ATLAS IoT Platform
        </div>
        <div class="col-md-6 text-right">
            <small>© 2016-2017</small>
        </div>
    </div>
</div>