<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                 <h5> <i class="fa fa-random"></i> {{ 'EMULATOR' | translate }}</h5>
	                <div ibox-tools="" class="ng-scope">
	                	<div class="ibox-tools dropdown" uib-dropdown="">
					    	<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
					    	<a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					    	<ul uib-dropdown-menu="" class="dropdown-menu">
					        	<li><a href="">Config option 1</a> </li>
					        	<li><a href="">Config option 2</a></li>
					    	</ul>
						</div>
					</div>
				</div>
	            <div class="ibox-content">
	            	<form class="form-horizontal" role="form" name="emulation_form" novalidate ng-submit="sendEmulation()">
                        <div class="form-group" ng-class="(emulation_form.topic.$invalid && emulation_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'MESSAGE_QUEUE' | translate }}</label>
                            <div class="col-sm-10">
                            	<select class="form-control m-b" name="topic" ng-model="emulation.topic" required>
									<option value="">{{ 'SELECT_QUEUE' | translate }}</option>
			                        <option ng-repeat="queue in queues" value="{{queue.id}}">{{queue.attributes.name}}</option>
								</select>
                            	<span class="help-block m-b-none" ng-show="emulation_form.topic.$invalid && emulation_form.$submitted">
                            		{{ 'MESSAGE_QUEUE_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="(emulation_form.message.$invalid && emulation_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'MESSAGE' | translate }}</label>
                            <div class="col-sm-10">
                            	<textarea class="form-control json-text" name="message" ng-model="emulation.message" rows="18" cols="50" required></textarea>
                            	<span class="help-block m-b-none" ng-show="emulation_form.message.$invalid && emulation_form.$submitted">
                            		{{ 'MESSAGE_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">{{ 'SEND' | translate }}</button>
                            </div>
                        </div>
                    </form>
				</div>
			</div>
        </div>
    </div>
</div>