<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                 <h5> <i class="fa fa-eye"></i> {{ 'OBSERVATIONS' | translate }}</h5>
	                <div ibox-tools="" class="ng-scope">
	                	<div class="ibox-tools dropdown" uib-dropdown="">
					    	<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
					    	<a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					    	<ul uib-dropdown-menu="" class="dropdown-menu">
					        	<li><a href="">Config option 1</a> </li>
					        	<li><a href="">Config option 2</a></li>
					    	</ul>
						</div>
					</div>
				</div>
	            <div class="ibox-content">
	                <table class="table table-hover">
	                    <thead>
		                    <tr>
		                    	<th>#</th>
		                        <th>{{ 'DATE' | translate }}</th>
		                        <th>{{ 'ROOM_THING' | translate }}</th>
		                        <th>{{ 'ACTIONS' | translate }}</th>
		                    </tr>
	                    </thead>
	                    <tbody>
	                    	<tr ng-show="!vicCtrl.observations.length"> <td colspan="4">{{ 'NO_OBSERVATIONS_FOUND' | translate }}</td> </tr>
	                    	<tr ng-repeat="observation in vicCtrl.observations" data-transaction="{{observation.id}}">
	                    		<td>{{observation.id}}</td>
	                    		<td>{{observation.attributes.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
	                    		<td>{{observation.attributes.thing.name}}</td>
	                    		<td>
	                    			<div class="btn-group dropdown" uib-dropdown="">
					                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
					                        {{ 'ACTIONS' | translate }} <span class="caret"></span>
					                    </button>
					                    <ul role="menu" uib-dropdown-menu="" class="dropdown-menu">
					                        <li><a ng-click="viewVicinityThings(observation.attributes.thing.name, observation.id)"> <i class="fa fa-edit"></i> {{ 'VIEW' | translate }}</a></li>
					                    </ul>
					                </div>
	                    		</td>
		                    </tr>
		                    
	                    </tbody>
	                </table>	
				</div>
			</div>
        </div>
    </div>
</div>