<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row bottom5">
    	<div class="col-lg-12">
    		<button ui-sref="gateways.add" type="button" class="btn btn-success btn-sm"> <i class="fa fa-plus"></i> {{ 'NEW_GATEWAY' | translate }}</button>
    	</div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
	            <div class="ibox-title">
	                 <h5> <i class="fa fa-hdd-o"></i> {{ 'GATEWAYS' | translate }}</h5>
	                <div ibox-tools="" class="ng-scope">
	                	<div class="ibox-tools dropdown" uib-dropdown="">
					    	<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
					    	<a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					    	<ul uib-dropdown-menu="" class="dropdown-menu">
					        	<li><a href="">Config option 1</a> </li>
					        	<li><a href="">Config option 2</a></li>
					    	</ul>
						</div>
					</div>
				</div>
	            <div class="ibox-content">
	                <table class="table table-hover">
	                    <thead>
		                    <tr>
		                        <th>#</th>
		                        <th>{{ 'GATEWAY' | translate }}</th>
		                        <th>{{ 'GATEWAY_IDENTITY' | translate }}</th>
		                        <th>{{ 'TOKEN' | translate }}</th>
		                        <th>{{ 'STATUS' | translate }}</th>
		                        <th>{{ 'ACTIONS' | translate }}</th>
		                    </tr>
	                    </thead>
	                    <tbody>
	                    	<tr ng-show="!gwCtrl.gateways.length"> <td colspan="5">{{ 'NO_GATEWAYS_FOUND' | translate }}</td> </tr>
	                    	<tr ng-repeat="gateway in gwCtrl.gateways" data-transaction="{{gateway.id}}">
	                    		<td>{{gateway.id}}</td>
	                    		<td>{{gateway.attributes.gateway}}</td>
	                    		<td>{{gateway.attributes.identity}}</td>
	                    		<td>{{gateway.attributes.token}}</td>
	                    		<td>
	                    			<span ng-class="(gateway.attributes.status=='ENABLED') ? 'label-primary' : 'label-danger'" class="label">{{gateway.attributes.status | capitalize}}</span>
	                    		</td>
	                    		<td>
	                    			<div class="btn-group dropdown" uib-dropdown="">
					                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
					                        {{ 'ACTIONS' | translate }} <span class="caret"></span>
					                    </button>
					                    <ul role="menu" uib-dropdown-menu="" class="dropdown-menu">
					                        <li><a ui-sref="gateways.edit({ gatewayId: gateway.id })"> <i class="fa fa-edit"></i> {{ 'EDIT' | translate }}</a></li>
					                        <li ng-if="(gateway.attributes.status=='ENABLED' || gateway.attributes.status=='INSTALLED')"><a href="javascript:;" ng-click="disableGateway(gateway.id)"> <i class="fa fa-trash"></i> {{ 'DISABLE' | translate }}</a></li>
					                        <li ng-if="(gateway.attributes.status!='ENABLED' && gateway.attributes.status!='INSTALLED')"><a href="javascript:;" ng-click="enableGateway(gateway.id)"> <i class="fa fa-check"></i> {{ 'ENABLE' | translate }}</a></li>			
                                                                <li><a ui-sref="gateways.dashboard({ gatewayId: gateway.id })"> <i class="fa fa-edit"></i> {{ 'VIEW_DASHBOARD' | translate }}</a></li>
					                    </ul>
					                </div>
	                    		</td>
		                    </tr>
	                    </tbody>
	                </table>	
				</div>
			</div>
        </div>
    </div>
</div>