<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-hdd-o"></i> {{ 'ADD_NEW_GATEWAY' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" name="gateways_form" novalidate ng-submit="submitGateway()">
                        <div class="form-group" ng-class="(gateways_form.gateway.$invalid && gateways_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'GATEWAY_IDENTIFIER' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="gateway" ng-model="gateway.gateway" ng-minlength="2" required>
                            	<span class="help-block m-b-none" ng-show="gateways_form.gateway.$invalid && gateways_form.$submitted">
                            		{{ 'GATEWAY_IDENTIFIER_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
						<div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="(gateways_form.gateway.$invalid && gateways_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'GATEWAY_IDENTITY' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="identity" ng-model="gateway.identity" ng-minlength="5" required>
                            	<span class="help-block m-b-none" ng-show="gateways_form.gateway.$invalid && gateways_form.$submitted">
                            		{{ 'GATEWAY_IDENTITY_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" ui-sref="gateways.list">{{ 'CANCEL' | translate }}</button>
                                <button class="btn btn-primary" type="submit">{{ 'SAVE' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>