<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-hdd-o"></i> {{ 'EDIT_GATEWAY' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" name="gateways_form" novalidate ng-submit="updateGateway()">
                        <uib-tabset>
                    		<uib-tab heading="{{ 'GATEWAY_INFORMATION' | translate }}">
                    			<div class="panel-body">                        
                        
                        <div class="form-group" ng-class="(gateways_form.gateway.$invalid && gateways_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'GATEWAY_IDENTIFIER' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="gateway" ng-model="gateway.gateway" ng-minlength="2" required>
                            	<span class="help-block m-b-none" ng-show="gateways_form.gateway.$invalid && gateways_form.$submitted">
                            		{{ 'GATEWAY_IDENTIFIER_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>
      					
      			<div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="(gateways_form.gateway.$invalid && gateways_form.$submitted) ? 'has-error' : ''">
                        	<label class="col-sm-2 control-label">{{ 'GATEWAY_ID' | translate }}</label>
                            <div class="col-sm-10">
                            	<input type="text" class="form-control" name="identity" ng-model="gateway.identity" ng-minlength="5" required>
                            	<span class="help-block m-b-none" ng-show="gateways_form.gateway.$invalid && gateways_form.$submitted">
                            		{{ 'GATEWAY_IDENTITY_REQUIRED' | translate }}
                            	</span>
                            </div>
                        </div>  
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" ng-class="(gateways_form.gateway.$invalid && gateways_form.$submitted) ? 'has-error' : ''">
                            <label class="col-sm-2 control-label">{{ 'AAL_HOUSE' | translate }}</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" name="aalhouse" ng-model="gateway.aalhouse" required>
                                    <option ng-repeat="aalhouse in aalhouses" value="{{aalhouse.id}}">{{aalhouse.attributes.name}} - {{aalhouse.attributes.address}}</option>
                                </select>
                            </div>
                        </div>                        
                        
                    </div>
                    </uib-tab>                       
                    <uib-tab heading="{{ 'SENSORS' | translate }}">
                    <div class="panel-body">                             
                        <div ng-repeat="sensor in sensorList | orderBy:'name'" data-datatype="{{sensor.id}}">
                            <div class="checkbox checkbox-success">
                                <input id="sensor_id_{{sensor.id}}" name="sensor[]" value="{{sensor.id}}" type="checkbox" ng-model="sensor.enabled" ng-checked="sensor.enabled">
                                <label for="sensor_id_{{sensor.id}}">{{sensor.name}} - {{sensor.address}}</label>                                
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>                          
                    </div>
                    </uib-tab>            
                    </uib-tabset>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" ui-sref="gateways.list">{{ 'CANCEL' | translate }}</button>
                                <button class="btn btn-primary" type="submit">{{ 'SAVE' | translate }}</button>
                            </div>
                        </div>                        
                    </form>                        
                </div>
            </div>
        </div>
    </div>
</div>
